* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;

}

body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
    padding: 0;
    color: #333;
    line-height:1.6;
    overflow-x: hidden;
    min-height: 100vh;
    padding-top: 100px;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(233, 240, 255), rgb(189, 211, 255));
}

.titulo-news {
    font-size: 3.0em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: inline-block;
    background-image: url("assets/back-titulo.png");
    background-size: cover;
    background-clip: text;
    color: transparent;
    
}

.logo {
    height: 100px;
    margin-right: 10px;
} 

h1,h2,h3 {
    font-family: 'Merriweather',serif;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3 ease;
}

a:hover {
    color: #0056b3;
}

section, article {
    padding: 2rem 4rem;
    max-width: 1200px;
    margin: 0 auto;
    background-color: whitesmoke;
    box-shadow: 0 4px rgba (0,0,0,0.1);
    border-radius: 10px;
    margin-top: 20px;
}

.imagem-principal img, .imagem-secundaria img, .imagem-futuro img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba (0,0,0,0.1);
    margin-top: 1.5 rem;
    margin-bottom: 2rem;
}

.conteudo {
    font-size: 1rem;
    line-height: 1.8;
    color: #444;
}

.conteudo h2 {
    font-size: 1.75rem;
    margin-top: 2rem;
    color: #333;
}


#redes {
    /* background: linear-gradient(135deg, rgb(70, 90, 150), rgb(100, 120, 180)); */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    margin: 50px 500px;
    border-radius: 50px;

}

.sociais {
    color: black;
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: linear-gradient(135deg, rgb(233, 240, 255), rgb(189, 211, 255));;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2),
                -2px -2px 5px rgb(125, 150, 159);
    transition: 0.3s;
    position: relative;
    margin: 20px;
}

.sociais i {
    color: black;
    transition: 0.3s;
}

.sociais:hover {
    transform: translateY(-5px);
}

.sociais:nth-child(1):hover {
    background: #0077b5;
}

.sociais:nth-child(2):hover {
    background: #25d366;
}

.sociais:nth-child(3):hover {
    background: #e1306c;
}

.sociais:nth-child(4):hover {
    background: #ea4335;
}

.tooltip {
    position: absolute;
    bottom: 70px;
    /* background: black; */
    color: white;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.sociais:hover .tooltip {
    opacity: 1;
    transform: scale(1);
}

.sociais:hover .tooltip-linkedin {
    background: #0077b5;
}


.sociais:hover .tooltip-whatsapp {
    background: #25d366; 
}


.sociais:hover .tooltip-instagram {
    background: #e1306c; 
}


.sociais:hover .tooltip-email {
    background: #ea4335; 
}

footer {
    background: linear-gradient(135deg, rgb(233, 240, 255), rgb(189, 211, 255));;
    color: black;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.footer-esquerda {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.imagens-footer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: absolute;
}
    
.footer-esquerda i {
    margin-top: 140px;
}


.imagens-footer img {
    width: 120px;
    margin: auto;
}

.links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 20px;
}

footer .sociais:nth-child(1):hover,
footer .sociais:nth-child(3):hover {
    background: #25d366;
}

footer .sociais:nth-child(2):hover,
footer .sociais:nth-child(4):hover {
    background: #0077b5;
}


footer i {
    color: #333;
    font-size: 0.875rem;
}