* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;

}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, rgb(233, 240, 255), rgb(189, 211, 255));
}

.titulo-news {
    font-size: 3.0em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    display: inline-block;
    background-image: url("assets/back-titulo.png");
    background-size: cover;
    /* background-position: center; */
    background-clip: text;
    /* -webkit-background-clip: text; */
    color: transparent;
    
}

.logo {
    height: 100px;
    margin-right: 10px;
} 

#subcabeçalho {
    background: linear-gradient(135deg, rgb(70, 90, 150), rgb(100, 120, 180));
    color: rgb(226, 225, 225);
    padding: 5px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding: 0;
    justify-content: center;
    width: 100%;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(200, 220, 255); /* Um azul bem claro */
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    display: inline-block;
    transition: color 0.5s ease, transform 0.5s ease;
    padding: 3px;
}

nav ul li a:hover {
    transform: scale(1.05);
    text-decoration: wavy;
}

#noticias {
    border: 2px solid blue;
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    max-height: 1000px;
    gap: 20px;
}

.conteudo-noticia {
    margin-left: 20px;
}

.conteudo-noticia:nth-child(1) {
    background-image: url(./assets/noticia1.jpg);
    grid-row: 1/4;
    grid-column: 1/3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin-left: 50px;
    
}

.conteudo-noticia:nth-child(2) {
    border: 2px solid black;
    grid-row: 1/3;
    grid-column: 3/4;
    background-image: url(./assets/noticia2.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
}

.conteudo-noticia:nth-child(3) {
    background-image: url(./assets/noticia3.jpg);
    border: 2px solid black;
    grid-column: 3/4;
    grid-row: 3/4;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 400px;
}

.linkedin {
    border: 2px solid black;

}

aside {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

#equipe {
    background-color: blue;
    margin-top: 50px;
    display: flex;
    overflow-x: auto;
    /* padding: 20px; */
    gap: 20px;

}

#equipe h2{
    margin-left: 20px; 
}

.membros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
}

.membros img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: 30% 50%;
    border-radius: 50%;
    margin-bottom: 10px;
}

#redes {
    background-color: blue;
    margin-top: 50px;
    display: flex;
    justify-content: center;

}

.sociais {
    color: whitesmoke;
    padding: 10px 30px;
}

footer {
    background: linear-gradient(135deg, rgb(233, 240, 255), rgb(189, 211, 255));;
    color: whitesmoke;
    padding: 10px;
    text-align: center;
}